<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="manager/base::Layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
<section class="bg_banner">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="my-card mt-5">
                    <h1 class="text-center">Add Meals</h1>

                    <form action="" th:action="@{/manager/meals_add}" method="post"
                          th:object="${meal}">

                        <!-- day field -->

                        <div class="form-group">

                            <label for="day">Day:</label>

                            <select name="day" type="text" class="form-control"
                                    id="day" placeholder="enter here" required
                                    th:value="${meal.day}">
                                <option value="" disabled selected>-Select day-</option>
                                <option value="Saturday" > Saturday</option>
                                <option value="Sunday" >Sunday </option>
                                <option value="Monday" >Monday</option>
                                <option value="Tuesday" >Tuesday </option>
                                <option value="Wednesday" >Wednesday </option>
                                <option value="Thursday" >Thursday </option>
                                <option value="Friday" >Friday </option>

                            </select>


                        </div>

                        <!--Meal field-->

                        <div class="form-group">
                            <label for="breakfast">Breakfast:</label>
                            <input name="breakfast" type="text" class="form-control"
                                   id="breakfast" placeholder="enter here" required th:value="${meal.breakfast}"/>
                        </div>

                        <div class="form-group">
                            <label for="lunch">Lunch:</label>
                            <input name="lunch" type="text" class="form-control"
                                   id="lunch" placeholder="enter here" required th:value="${meal.lunch}"/>
                        </div>

                        <div class="form-group">
                            <label for="dinner">Dinner:</label>
                            <input name="dinner" type="text" class="form-control"
                                   id="dinner" placeholder="enter here" required th:value="${meal.dinner}"/>
                        </div>

                        <!-- buttons field -->

                        <div class="container">
                            <button type="submit" class="btn bg-primary text-white">Submit</button>
                            <button type="reset" class="btn btn-warning">reset</button>
                        </div>

                    </form>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>