<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="manager/base::Layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
<section>
    <div class="card mr-3 ml-3">
        <div class="card-body">
            <a th:href= "@{/manager/view_meal_chart}" class="back"><i class="fa-solid fa-arrow-left"></i></a>
            <h1 class="text-center">Meal Counts</h1>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Breakfast</th>
                        <th scope="col">lunch</th>
                        <th scope="col">Dinner</th>
                        <th scope="col">total meal</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="c : ${mealChart}">
                        <td th:text="${c.date}"></td>
                        <td th:text="${c.breakfast}"></td>
                        <td th:text="${c.lunch}"></td>
                        <td th:text="${c.dinner}"></td>
                        <td>--</td>
                    </tr>
                    <tr>
                        <td colspan="4"></td>
                        <td style="text-align:left" th:if="${mealChart.size() != 0}" th:object="${mealChart}" th:text="${mealChart.get(mealChart.size()-1).getMealPerPerson()}"></td>
                        <td></td>
                    </tr>
                    </tbody>



                </table>
            </div>
        </div>
    </div>

</section>
</body>
</html>